:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --back-ground: #2f303a;
  --btn-ground: #f5f4fa;
  --btn-focus: #188ce8;
  --footer-item: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--primary-text-color);
}

.title {
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------ЛОГО--------------- */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo .logo-part {
  color: var(--accent-color);
}

/* ----------------ХЕДЕР--------------- */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.cont {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ----------------ГЕРОЙ--------------- */

.hero {
  background-color: var(--back-ground);
}

.hero .button {
  cursor: pointer;
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent-color);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--btn-focus);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

/* ----------------ОСОБЛИВОСТІ--------------- */

/* .features-list {
} */

.features-list .features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ----------------ДІЯЛЬНІСТЬ--------------- */

/* ----------------КОМАНДА--------------- */

.section.team-section {
  background-color: var(--btn-ground);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list .team-item {
  background-color: var(--white);
}

/* ----------------ПІДВАЛ--------------- */

.main-footer {
  background-color: var(--back-ground);
}

.logo.footer {
  color: var(--white);
}

.footer-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-item);
}

.footer-list .address {
  color: var(--white);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Button */

.button-list .button {
  cursor: pointer;
  font-family: inherit;
  border-color: transparent;
  background-color: var(--btn-ground);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-list .button:hover,
.button-list .button:focus {
  border-color: transparent;
  color: var(--white);
  background-color: var(--accent-color);
}

/* ----------------ПОРТФОЛІО--------------- */

.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
